main {
  display: flex;

  .item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item-group2 {
      display: flex;
      align-content: stretch;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
